{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row mt-60">
		<h4>{{ query.title }}</h4>
		<h6>{{ query.query }}</h6>
		<p class="flow-text">{{ query.description }}</p>
	</div>
	<div class="row mt-60">
		<a class='dropdown-button btn ibtn left' href='#' data-activates='dropdown1'>Фільтрувати</a>

		<!-- Dropdown Structure -->
		<ul id='dropdown1' class='dropdown-content'>
			<li><a id="all_distributors" class="c-pointer">Всі</a></li>
			<li class="divider"></li>
			<li><a id="my_favorite" class="c-pointer">Вподобані</a></li>
			<li class="divider"></li>
			<li><a id="by_mentions_distributors" class="c-pointer">За згадуваннями</a></li>
		</ul>
		<div class="input-field col s6 right no-margin">
			<input id="search" type="text" class="validate" name="search">
			<label class="active" for="search">Пошук</label>
		</div>

	</div>
	<div class="row mt-30">
		<h4>Розповсюджувачі</h4>
		<div id="distributors">
			{% include "distributors/distributors_list.html" %}
		</div>
	</div>
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript">
	GLOBAL_VARS['query_id'] = '{{ query.id }}';
</script>
<script type="text/javascript" src="{% static 'js/d-ajax.js' %}"></script>
{% endblock js %}

